@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-size: 16px;
}
body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: #4769c0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.weekly.forecast-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.forecast-card h3 {
    margin-top: 0;
    font-size: 20px;
}

.forecast-card p {
    margin: 5px 0;
    font-size: 16px;
}

.min-temp, .max-temp {
    font-weight: bold;
}

.min-temp::before, .max-temp::before {
    content: "Temperature: ";
    font-weight: normal;
}



/*


.weatherContainer {
    border: 1px solid rgb(42, 126, 194);
    display: block;
    text-align: center;
    padding: 20px;
    background-color: rgb(95, 133, 161);
    border-radius: 8px;
    margin: auto;
    max-width: 100%;
}



#currentWeather {
    color: #888;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*

/*
#forecast-card {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.min-temp,
.max-temp {
    font-weight: bold;
    color: #4CAF50;
}

#city-name {
    font-size: 20px;
    margin-top: 10px;
}

#temperature {
    font-size: 48px; 
    margin-top: 20px;
    color: #fff;
}
/*

#type-of-weather {
    font-size: 18px;
    margin-top: 10px;
}
/*