@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
    background-color: #4769c0;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-App {
    border: 1px solid rgb(42, 126, 194);
    display: block;
    text-align: center;
    padding: 20px;
    background-color: rgb(95, 133, 161);
    border-radius: 8px;
    box-shadow: 0 0 10px #e4eaf0ee;
    margin: auto;
    max-width: 350px;
}

h1 {
    font-size: 24px;
    color: #333;
}

#currentWeather {
    color: #888;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#city-name {
    font-size: 20px;
    margin-top: 10px;
}

#temperature {
    font-size: 36px;
    margin-top: 20px;
    color: #4CAF50
}

#type-of-weather {
    font-size: 18px;
    margin-top: 10px;
}